/* @import './base.css' */
/* example line for importing additional css from another file in the same directory */


/* you could either do `html` here or `body` and either kind of just does that you know */
body {
    /*
        but since we are doing body here,
        this makes the margin of everything 0,
        removing ugly space between the first div and the edge of the website
        i guess body has its own margins?
        until now...
    */
    margin: 0;
    background-color: #efefef;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* customize `#app` header (remember <div id="app"> */
#app {
    /*
        max-width: defines the `div` maximum width
        defined with px or %
        the original was 1280px;

        but for here auto seems to work best
    */
    width: auto;
    height: 500px;

    /*
        not sure what this one does yet
    */
    /* position: relative; */


    /*
        margin makes a barrier between this div and adjacent divs
        so its not like really affecting its inner content, just its position in relation to the things around it

        and then auto centralizes it in its space
        example `margin: 10px auto` 10 px around it blank space, auto placing it in the centre
    */
    /* margin: 0; */
    
    /*
        borders operate on the inside of the div
        so it squishes things inside of it
        prettily i might add
    */
    border: 10px solid #aaaaaa;

    /* font-size has to do with desired glyph HEIGHT */
    font-size: 24px;

    /*
        "thickness of the padding area"
        PADDING IS FATNESS, on the outside

        rem: "root em" which represents the font size of the root element
        vs em: which is relative to the font-size of its OWN element
    */
    padding: 0;

    /*
        `background-color` define background color
    */
    background-color: #cccccc;
    font-weight: normal;
}

/* for the header */
.fifths
{
    width: 15%;
    height: 100%;
    /* position: relative; */
    background-color: #7fcbcb;
    text-align: center;

    border: 4px solid #6ebacb;

    /* dont allow wrapping, hide overflow (it doesnt even overlap the border) */
    white-space: nowrap;
    /* overflow: hidden; */
}