/* @import './base.css */
/* example line for importing additional css from another file in the same directory */


/* you could either do `html` here or `body` and either kind of just does that you know */
body {
    /*
        but since we are doing body here,
        this makes the margin of everything 0,
        removing ugly space between the first div and the edge of the website
        i guess body has its own margins?
        until now...
    */
    margin: 0;
    background-color: #efefef;
}

/* customize `#app` header (remember <div id="app"> */
#app {
    /*
        max-width: defines the maximum width of the div
        we could also choose to define this with %'s
        the original was 1280px;

        there's a difference between max-width and width sometimes...
    */
    width: 1000px;
    height: 500px;

    /*
        margin makes a barrier between it and other divs in its path
        so its not like really affecting its inner content, just its position in relation to the things around it

        and then auto centralizes it in its space
        example `margin: 10px auto` 10 px around it blank space, auto placing it in the centre
    */
    margin: 0;
    
    /*
        borders operate on the inside of the div
        so it squishes things inside of it
        prettily i might add
    */
    border: 10px solid #aaaaaa;

    /* font-size has to do with desired glyph HEIGHT */
    font-size: 24px;

    /*
        now what is this padding "thickness of the padding area"
        PADDING IS FATNESS
        why would i want that again?

        rem: "root em" which represents the font size of the root element

        vs em: which is relative to the font-size of its OWN element
    */
    padding: 1rem;

    /*
        background-color define the specific background
    */
    background-color: #cccccc;
    font-weight: normal;
}